<div class="root">
  <div class="title-container">
    <div class="main-title">Calculadora Programação Linear</div>
  </div>
  <div class="content">
    <div class="scroll-container">
      <div class="constraints-box">
        <div class="optimization-title"><h3>Função para otimização:</h3></div>

        <form [formGroup]="optimizationForm">
          <div class="input-group" formGroupName="objective">
            <div class="input-box">
              <div class="input-label">x1</div>
              <input type="number" formControlName="x1" class="input-field" />
            </div>

            <span>+</span>

            <div class="input-box">
              <div class="input-label">x2</div>
              <input type="number" formControlName="x2" class="input-field" />
            </div>

            <span>+</span>

            <div class="input-box">
              <div class="input-label">C</div>
              <input type="number" formControlName="constant" class="input-field" />
            </div>
          </div>

          <h3>Restrições</h3>

          <div formArrayName="constraints" id="constraints-container">
            <div class="input-group constraint" *ngFor="let constraint of constraintsArray.controls; let i = index" [formGroupName]="i">
              <div class="input-box">
                <div class="input-label">x1</div>
                <input type="number" formControlName="x1" class="input-field" />
              </div>

              <span>+</span>

              <div class="input-box">
                <div class="input-label">x2</div>
                <input type="number" formControlName="x2" class="input-field" />
              </div>

              <mat-select formControlName="operator" class="operator-select">
                <mat-option value="=">=</mat-option>
                <mat-option value=">">></mat-option>
                <mat-option value="<"><</mat-option>
                <mat-option value=">=">>=</mat-option>
                <mat-option value="<="><=</mat-option>
              </mat-select>

              <div class="input-box">
                <div class="input-label">C</div>
                <input type="number" formControlName="constant" class="input-field" />
              </div>

              <button type="button" class="remove-constraint-btn" (click)="removeConstraint(i)">×</button>
            </div>
          </div>
        </form>

        <div class="div-btn">
          <button type="button" (click)="addConstraint()" class="btn-add-constraint" mat-flat-button>
            <span>ADICIONAR RESTRIÇÃO</span>
          </button>
        </div>
      </div>
    </div>

    <div class="div-btn">
      <button (click)="calcular()" class="btn-primary" mat-flat-button color="primary">
        <span>CALCULAR</span>
      </button>
    </div>

    <div class="constraints-box">
      <h3>Restrições</h3>
      <div id="constraints-display">
        <p *ngFor="let constraint of displayedConstraints; let i = index">{{constraint}}</p>
      </div>
    </div>

    <div class="div-btn">
      <button (click)="resultado()" class="btn-secondary" mat-flat-button color="primary">
        <span>RESULTADOS</span>
      </button>
    </div>
  </div>
</div>
